@font-face {
    font-family: titulo;
    src: url(./Xanmono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#barra-superior {
    position: fixed;
    font-size: 30px;
    font-family: titulo;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 15px 0;
    text-align: center;
    background: linear-gradient(360deg, #ffffff, #9b30ff);
    box-shadow: 0px 4px 10px rgba(250, 250, 250, 0.2);
    z-index: 1000;
}

header {
    background-color: rgba(24, 24, 24, 0.2);
    padding: 15px 20px;
    width: 100%;
    left: 0;
    z-index: 999;
    margin-top: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0e0e0e;
    font-size: 24px;
    font-weight: bold;
}

.nav-enlaces {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-enlaces a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 18px;
    transition: 0.3s;
}

.nav-enlaces a:hover {
    color: #9b30ff;
}

.boton-inicio {
    background-color: #9b30ff;
    color: #0e0e0e;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.boton-inicio:hover {
    background-color: #9b30ff;
}

#contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 500px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.grid-item:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.5s;
    box-shadow: 0 0 5px white;
    box-shadow: 0 0 10px white;
    box-shadow: 0 0 15px white;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(360deg, #9b30ff, #ffffff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.titulo-footer {
    font-family: titulo;
    font-size: 24px;
    font-weight: bold;
    color: #0e0e0e;
    text-align: center;
    flex-grow: 1;
}

.iconos-sociales {
    display: flex;
    gap: 15px;
}

.iconos-sociales a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.iconos-sociales a img:hover {
    transform: scale(1.2);
}